@if (showingSubmitDialog) {
  <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative;">
  @if (submissionStatus == 'CONNECTING') {
      <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
      <p style="margin-top: 1rem; font-size: 1.25rem; font-weight: 500;">Enviando inscripción...</p>
  } @else {<i class="bi bi-x-square-fill" (click)="closeSubmitDialog()" style="scale: 2; position: absolute; top: 5px; right: 5px;"></i>}
  @if (submissionStatus == 'ACCEPTED' && submissionResponse.value.result.groups.length > 0) {
    <p style="margin-top: 1rem; font-size: 1.25rem; font-weight: 500;">¡Inscripción aceptada!</p>
    <p style="margin-top: 1rem; font-size: 1rem; font-weight: 400;">Grupos inscritos:</p>
    <ul>
        @for (group of submissionResponse.value.result.groups; track $index) {
            <li>{{group.subject.code}}-{{group.code}}</li>
        }
    </ul>
    @if (submissionResponse.value.errors.length > 0) {
        <p style="margin-top: 1rem; font-size: 1rem; font-weight: 400; color: #dc2626;">Errores de inscripción:</p>
        <ul>
            @for (error of submissionResponse.value.errors; track $index) {
                <li>{{error}}</li>
            }
        </ul>
    }
  }
  @if ((submissionStatus == 'ACCEPTED' && submissionResponse.value.result.groups.length === 0) || submissionStatus == 'REJECTED') {
    <p style="margin-top: 1rem; font-size: 1.25rem; font-weight: 500;">¡Error de inscripción!</p>
    <p style="margin-top: 1rem; font-size: 1rem; font-weight: 400;">No se pudo inscribir ningún grupo.</p>
  }
  @if (submissionStatus == 'PENDING') {
    <p style="margin-top: 1rem; font-size: 1.25rem; font-weight: 500;">¡Inscripción enviada!</p>
    <p style="margin-top: 1rem; font-size: 1rem; font-weight: 400;">Puedes revisar tus inscripciones pendientes <b><u (click)="inscription.historyComponent.expand()">aquí.</u></b></p>
  }
  @if (submissionStatus == 'ERROR') {
    <p style="margin-top: 1rem; font-size: 1.25rem; font-weight: 500;">No se puede conectar al servidor.</p>
    <p style="margin-top: 1rem; font-size: 1rem; font-weight: 400;">Intente más tarde.</p>
  }
  </div>
} @else {
  @if (inscription.data.length == 0) {
  <div
    style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    @if (statustext == 'PENDING' || statustext == 'CONNECTING') {
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
    <p style="margin-top: 1rem; font-size: 1.25rem; font-weight: 500;">Cargando materias...</p>
    } @else {
    <button (click)="startPolling()" [disabled]="isGetButtonDisabled" class="btn btn-primary"
      style="border-radius:0.5rem; padding:0.75rem 1.5rem; cursor:pointer; font-size:1rem; font-weight:500; margin-bottom:1rem;">Calcular
      materias</button>
    }
  </div>
  } @else {
  <div
    style="display:flex; flex-direction: column; justify-content:space-between; align-items:center; height:100%;">
    <div style="width: 100%;">
      <div class="input-group">
        <button (click)="startPolling()" class="btn btn-outline-secondary" style="margin-bottom: 1rem;">
          <i class="bi bi-arrow-counterclockwise"></i>
        </button>
        <input class="form-control" type="text" placeholder="Buscar materias..."
          (input)="updateSearchTerm($event.target.value)"
            style="padding:0.5rem; border:1px solid #cbd5e1; flex:1; margin-bottom: 1rem;" />
      </div>
      <div style="overflow-y: scroll; max-height: calc(100vh - 275px);">
        @for (subject of displayedData; track $index) {
        <div style="margin-bottom:1rem;">
          <h2 style="font-size:1rem; font-weight:600; margin-bottom:0.5rem; cursor:pointer;">{{subject.code}} |
            {{subject.title}}</h2>
          @if (subject.groups.length == 0) {
          <div style="display:flex; align-items:center; justify-content: center; border-radius:0.5rem; padding: 0.5rem; background-color: lightgrey;">
            <a style="color:#64748b;">No hay grupos para inscribir</a>
          </div>
          } @else {
            @for (group of subject.groups; track $index) {
              @let isdisabled = isGroupDisabled(group.id, subject);
              <div [style.background-color]="isdisabled ? 'lightgray' : '#f1f5f9'" style="display:flex; justify-content:space-between; align-items:center; border-radius:0.5rem; padding:0.5rem 1rem; margin-bottom:0.5rem;">
                <label style="display: flex; flex-direction: row; padding-right: 0.5rem; border-right: solid lightgray 1px;">
                  <input [disabled]="isdisabled" (change)="updateGroup(group.id, $event.target.checked)" type="checkbox"style="padding-right:0.5rem;" class="form-check-input" >
                  {{"&nbsp;&nbsp;" + group.code}}
                  </label>
                <span style="padding-left: 0.5rem; padding-right: 0.5rem;">{{group.teacher.firstName}} {{group.teacher.lastName}}</span>
                <span style="text-align: end; padding-left: 0.5rem; padding-right: 0.5rem; border-left: solid lightgrey 1px;">
                  @for (timeslot of group.timeslots; track $index) {
                    <div>{{inscription.formatDay(timeslot.day)}}: {{inscription.formatTime(timeslot.startTime)}}<br>{{inscription.formatTime(timeslot.endTime)}}</div>
                  }
                </span>
                <span style="text-align: end; padding-left: 0.5rem; border-left: solid lightgrey 1px;">Cupos: {{group.quota}}</span>
              </div>
            }
          }
        </div>
        }
      </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; margin-top: 1rem;">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" (change)="toggleEmptySubjects($event.target.checked)" />
        <label class="form-check-label">Materias inelegibles</label>
      </div>
    <button (click)="startSubmitPolling()" class="btn btn-primary" [disabled]="inscription.selectedgroups.length == 0 || isPostButtonDisabled"
      style="color:white; border:none; border-radius:0.5rem; padding:0.75rem 1.5rem; cursor:pointer; font-size:1rem; font-weight:500;">Registrar</button>
    </div>
  </div>
  }
}
