<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-items: center; align-items: center;">
  <div class="card" style="width: 50vw;">
    <div class="card-body" style="display: flex; flex-direction: column;">
      <a class="h4">Topicos Frontend: Polling test</a>
      <button class="btn btn-primary" (click)="startPolling()">Get groups</button>
      <p>Status: {{statustext}}</p>
      @for (item of data; track $index) {
        <h6>{{item.code}} - {{item.title}}</h6>
        @if(item.groups.length == 0) {
          <p>NO HAY GRUPOS</p>
        }
        @else {
          @for (group of item.groups; track $index) {
            <input type="checkbox" (change)="updateGroup(group.id, $event.target.checked)"><a>Codigo: {{group.code}}; Cupos: {{group.quota}}</a>
          }
        }
      }
      <button class="btn btn-primary" (click)="startSubmitPolling()">Submit groups</button>
      <p>Status: {{submissionStatus}}</p>
      <p>Response: {{submissionResponse}}</p>
    </div>
  </div>
</div>
